* {
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    color: #df2816;
    background: #333;
    font-weight: normal;
    font-family: one;
    background: rgba(3, 3, 3, 0.83);
}
@font-face {
    font-family: one;
    src: url("../fonts/10359.ttf");
}
@font-face {
    font-family: two;
    src: url("../fonts/10360.ttf");
}
img{
    max-width: 100%;
    height: auto;
}
.marg {
    margin: 0;
}
.main-img {
    opacity: 0.5;
}
.phone {
    text-align: right;
}
.cont {
    padding: 0 10% 0 10%;
}
.center {
    text-align: center;
}
.block-title {
    width: 100%;
    min-height: 150px;
}
.phone p {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 0, 0, 0.59);
    padding: 15px;
}
.title h2{
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
    font-family: two;
}
.title p{
    text-transform: uppercase;
    font-size: 24px;
    color: rgba(255, 0, 0, 0.59);
}