* {
    margin: 0;
    padding: 0;
    }
body {
    font-size: 16px;
    color: #df2816;
    font-weight: normal;
    font-family: one;
    background: #333;
    }
@font-face {
    font-family: one;
    src: url("../fonts/10359.ttf");
    }
@font-face {
    font-family: two;
    src: url("../fonts/10360.ttf");
    }
img {
    max-width: 100%;
    height: auto;
    }
.marg {
    margin: 0;
    }
.main-img {
     opacity: 0.5;
    }
.phone {
    text-align: right;
    }
.wrapper {
    padding: 0 10% 0 10%;
    }
.center {
    text-align: center;
    }
.block-title {
    width: 100%;
    min-height: 175px;
    background: linear-gradient(to top, rgba(74, 74, 74, 0.54), rgba(3, 3, 3, 0.83));
    padding-top: 25px;
}
.phone p {
    font-size: 50px;
    text-align: center;
    /*margin-top: 20px;*/
    color: rgba(255, 0, 0, 0.59);
    /*padding: 15px;*/
    }
.title h2 {
     margin-bottom: 0;
     font-size: 60px;
     line-height: 60px;
     font-family: two;
    }
.title p {
    text-transform: uppercase;
    font-size: 24px;
    color: rgba(255, 0, 0, 0.59);
    }
.price {
    /*min-height: 120px;*/
    padding: 30px;
}
    .price .email {
        background: rgba(255, 255, 255, 0.22);
        border: none;
        font-size: 14px;
        padding: 6px;
        width: 230px;
        color: #fff;
    }
    .price .but-price {
        background: #df2825;
        border: none;
        padding: 0.5px 6px 5.5px;
        width: 140px;
        color: #fff;
    }
/*fix menu*/
#menu {
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.74);

    /*text-shadow:0 1px 1px black;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius:5px;*/
    /*border-radius:5px;*/
}
    #menu ul {
        padding:0;
        margin:0;
    }
    #menu li {
        display: inline;
        list-style:none;
        margin: 5px 10px;
    }
    #menu li a {
        padding:5px 10px;
        color:#fff;
        text-decoration: none;

        /*-webkit-border-radius: 5px;*/
        /*-moz-border-radius: 5px;*/
        /*border-radius: 5px;*/
    }
    #menu li a:hover {
        color: #df2825;

        -webkit-transition-property: color;
        -webkit-transition-duration: 0.5s;
    }
    #menu.default {
        width:100%;
        position: relative;
        z-index: 1000;
        height: 60px;
        margin-top: -66px;
    }
    #menu.fixed {
        position:fixed;
        top:0; left:0;
        width:100%;
        padding:10px 0;

        /*-moz-box-shadow: 5px 5px 20px #333;*/
        /*-webkit-box-shadow: 5px 5px 20px #333;*/
        /*box-shadow: 5px 5px 20px #333;*/
    }
    .transbg {
        background-color: rgba(0, 0, 0, 0.58)!important;
    }
/*fix menu*/
.block-slider-text {
    position: absolute;
    font-size: 60px;
    color: #fcf8e3;
    top: 255px;
    text-align: center;
    left: 20%;
    right: 20%;
}