* {
    margin: 0;
    padding: 0;
    }
body {
    font-size: 16px;
    color: #ec4b3b;
    font-weight: normal;
    font-family: one;
    background: #333;
    padding: 0 !important;
    }
@font-face {
    font-family: one;
    src: url("../fonts/10359.ttf");
    }
@font-face {
    font-family: two;
    src: url("../fonts/10360.ttf");
    }
img {
    max-width: 100%;
    height: auto;
    }
h1 {
    font-size: 5vw;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
.big-letters {
    text-transform: uppercase;
}
.marg {
    margin: 0;
    }
.wrapper {
    padding: 0 8% 0 8%;
    }
.center {
    text-align: center;
    }
.block-title {
    width: 100%;
    min-height: 200px;
    background: linear-gradient(to top, rgba(74, 74, 74, 0.54), rgba(3, 3, 3, 0.83));
    padding-top: 2%;
}
.block-phone .phone {
    font-size: 4vw;
    color: #ec4b3b;
    text-align: right;
    }
.title h2 {
     margin-bottom: 0;
     font-size: 60px;
     line-height: 60px;
     font-family: two;
     color: #ea3624;
    }
.title p {
    text-transform: uppercase;
    font-size: 24px;
    color: #ea3624;
    }
.price {
    padding: 30px;
}
.dload a {
    background-color: #ec4b3b;
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 15px;
    box-shadow: 5px 2px 20px rgba(0,0,0,0.6);
}
.dload a:hover {
    background-color: #fff;
    color: #ec4b3b;
    font-weight: 600;
}
/*fix menu*/
#menu {
    text-transform: uppercase;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.74);
}
    #menu ul {
        padding:0;
        margin:0;
    }
    #menu li {
        display: inline;
        list-style:none;
        margin: 5px 10px;
    }
    #menu li a {
        padding:5px 10px;
        color:#fff;
        text-decoration: none;
    }
    #menu li a:hover {
        color: #ec4b3b;
        -webkit-transition-property: color;
        -webkit-transition-duration: 0.5s;
    }
    #menu.default {
        width:100%;
        position: relative;
        z-index: 1000;
        height: 60px;
        margin-top: -66px;
    }
    #menu.fixed {
        z-index: 1000;
        position:fixed;
        top:0; left:0;
        width:100%;
        padding:10px 0;
    }
    .transbg {
        background-color: rgba(0, 0, 0, 0.58)!important;
    }
/*fix menu*/

.block-slider {
    position: relative;
}
    .block-slider-text {
        top: 45%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 20%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        color: rgba(252, 248, 227, 0.74);
    }
    .block-slider .main-img {
        /*opacity: 0.5;*/
        background: url(../img/main_picture/main-img2.jpg) no-repeat;
        width: 100%;
        min-height: 470px;
        position: relative;
        background-size: cover;
    }
#privilege {
    background-color: #ec4b3b;
    height: 825px;
    bottom: 0;
    width: 350px;
    position: absolute;
}
.privilege-text {
    color: white;
    padding: 0 2% 2%;
}
#about {
    background-color: #333;
    min-height: 825px;
    width: 100%;
    position: relative;
}
    .block-about {
        padding-top: 5%;
    }
    .block-about h2 {
        color: white;
    }
    .block-about .text1 {
        font-size: 16px;
        color: #ec4b3b;
    }
    .block-about .text2 {
        color: #9e9898;
        font-size: 0.9em;
        margin-bottom: 0.5em;
    }
    .block-img-about {
        padding-top: 3%;
    }
.marg-h2 {
    margin-bottom: 20px;
}
.pad-correct-character {
    padding-left: 5%;
}
#partner {
    margin:0 auto;
    width: 100%;
    height: 500px;
    padding: 6% 1%;
    background: url(../img/fix-img.jpg) no-repeat fixed;
    background-size: cover;
}
    #partner .block-partner {
        background-color: rgba(236, 75, 59, 0.38);
        color: #fff;
        padding: 7% 8%;
    }
    #partner .block-partner p, #service .block-service p {
        text-align: center;
    }
#contact {
    background-color: #ec4b3b;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 4%;
}
    #contact .form-decoration input {
        padding: 10px;
        width: 80%;
        color: rgba(51, 51, 51, 0.91);
        border: none;
        margin-bottom: 1%;
    }
    #contact .form-decoration button {
        color: #fff;
        padding: 8px;
        background-color: #ec4b3b;
        font-size: 18px;
        border: 2px solid #fff;
        letter-spacing: 0.5px;
    }
    #contact .form-decoration button:hover {
        color: #ec4b3b;
        background-color: #fff;
    }
    .soc-contact img {
        width: 35px;
        margin: 10px 0 0 10px;
    }
    .soc-contact img:hover {
        opacity: 0.3;
    }
    #contact .table-responsive tr td:nth-child(1) {
        width: 25%;
    }
    #contact .table-responsive tr td:nth-child(2) {
        width: 42%;
    }
    #contact .table-responsive tr td:nth-child(3){
        width: 18%;
    }
    #contact .table-responsive tr td:nth-child(4) {
        width: 15%;
    }
    .point-sale {
        margin-top: 50px;
    }
    .point-sale h2 {
        margin-bottom: 30px;
    }
    #contact h2 {
        margin-bottom: 25px;
    }
#coast {
    margin: 6% 0;
}
    #coast .table-responsive {
        color: #fff;
        padding: 5% 15% 3%;
    }
    #coast .table-responsive tbody {
        color: rgba(245, 245, 245, 0.76);
        font-size: 14px;
    }
    #coast .order-phone {
        color: #292929;
    }
    #coast .table-responsive img {
        height: 70px;
    }
    #coast .order-phone .applicationTelephone{
        padding: 5px;
        border: 3px solid #fff;

    }
    #coast .order-phone .applicationSubmit {
        padding: 6px;
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        font: 100% sans-serif;
    }
    #coast .order-phone .applicationSubmit:hover {
        background-color: #ec4b3b;
        border: 2px solid #ec4b3b;
        color: #fff;
    }
    #coast .table-responsive tr td:nth-child(2), #coast .table-responsive tr th:nth-child(2) {
        width: 45%;
    }
    #coast .table-responsive tr td:nth-child(3), #coast .table-responsive tr th:nth-child(3)  {
        width: 15%;
    }
    #coast .table-responsive .add-row td:nth-child(1), #coast .table-responsive .add-row th:nth-child(1),
    #coast .table-responsive .add-row td:nth-child(2), #coast .table-responsive .add-row th:nth-child(2),
    #coast .table-responsive tr td:nth-child(4), #coast .table-responsive tr th:nth-child(4),
    #coast .table-responsive tr td:nth-child(5), #coast .table-responsive tr th:nth-child(5),
    #coast .table-responsive tr td:nth-child(6), #coast .table-responsive tr th:nth-child(6),
    #coast .table-responsive tr td:nth-child(7), #coast .table-responsive tr th:nth-child(7),
    #coast .table-responsive tr td:nth-child(1), #coast .table-responsive tr th:nth-child(1){
        width: 13%;
    }
    #coast .table-responsive tr td:nth-child(2), #coast .table-responsive tr th:nth-child(2),
    #coast .table-responsive tr td:nth-child(3), #coast .table-responsive tr th:nth-child(3),
    #coast .table-responsive tr td:nth-child(4), #coast .table-responsive tr th:nth-child(4),
    #coast .table-responsive tr td:nth-child(5), #coast .table-responsive tr th:nth-child(5),
    #coast .table-responsive tr td:nth-child(6), #coast .table-responsive tr th:nth-child(6),
    #coast .table-responsive tr td:nth-child(7), #coast .table-responsive tr th:nth-child(7),
    #coast .table-responsive tr td:nth-child(1), #coast .table-responsive tr th:nth-child(1){
        border: 1px solid rgb(51, 51, 51);
    }
    #coast .table-responsive tr:nth-child(3), #coast .table-responsive tr:nth-child(4),
    #coast .table-responsive tr:nth-child(7), #coast .table-responsive tr:nth-child(8),
    #coast .table-responsive tr:nth-child(11), #coast .table-responsive tr:nth-child(12),
    #coast .table-responsive tr:nth-child(14), #coast .table-responsive tr:nth-child(17),
    #coast .table-responsive tr:nth-child(18) {
        background-color: rgba(236, 75, 59, 0.14);
    }
    #coast .table-responsive tr {
        background-color: rgba(236, 75, 59, 0.38);
    }
    .table > thead > tr > th {
        border: 2px solid rgb(51, 51, 51);
        color: rgba(255, 255, 255, 0.78);
    }
    #coast .table-responsive tr th:nth-child(2),
    #coast .table-responsive .add-row td:nth-child(1), #coast .table-responsive .add-row th:nth-child(1),
    #coast .table-responsive .add-row td:nth-child(2), #coast .table-responsive .add-row th:nth-child(2),
    #coast .table-responsive tr td:nth-child(3), #coast .table-responsive tr th:nth-child(3),
    #coast .table-responsive tr td:nth-child(4), #coast .table-responsive tr th:nth-child(4),
    #coast .table-responsive tr td:nth-child(5), #coast .table-responsive tr th:nth-child(5),
    #coast .table-responsive tr td:nth-child(6), #coast .table-responsive tr th:nth-child(6),
    #coast .table-responsive tr td:nth-child(7), #coast .table-responsive tr th:nth-child(7),
    #coast .table-responsive tr td:nth-child(1), #coast .table-responsive tr th:nth-child(1),
    .block-phone p, #menu, .block-slider .block-slider-text, #coast .order-phone
    {
        text-align: center;
    }
.block-privilege {
    position: absolute;
    width: 330px;
    }
.block-privilege li {
    color: white;
    font-size: 14px;
}

.character1 {
    color: #fff;
    background: linear-gradient(to left, transparent 50%, #ec4b3b 50%);
}
.character2 {
    color: #ec4b3b;
    background: linear-gradient(to left, #fff 50%, transparent 50%);
}
.character1, .character2 {
     min-height: 350px;
     width: 100%;
    padding-top: 5%;
    padding-bottom: 4%;
 }
#service {
    margin:0 auto;
    width: 100%;
    height: 450px;
    padding: 6% 1%;
    background: url(../img/main_picture/service2.jpg) no-repeat fixed;
    background-size: cover;
}
    #service .block-service, #partner .block-partner {
        background-color: rgba(236, 75, 59, 0.38);
        color: #fff;
        padding: 4% 8% 6%;
    }
#help-info {
    background-color: #ec4b3b;
    padding-bottom: 5%;
    margin-top: 6%;
}
    #help-info h2 {
         padding: 6% 0;
         color: #fff;
     }
    #help-info  .article-img {
        margin-left: 25px;
    }
    #help-info .marg-block-info {
        margin-bottom: 2%;
        height: 345px;
    }
    #help-info .block-info {
        position: relative;
        height: 125px;
    }
    #help-info .block-info .title-info {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 5% 0;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
    }
    #help-info .block-info .but-open-modal {
        color: #fff;
        padding: 4px;
        background-color: #ec4b3b;
        font-size: 13px;
        border: 2px solid #fff;
        letter-spacing: 0.5px;
        position: absolute;
        bottom: 0;
    }
    #help-info .block-info .but-close-modal {
        color: #fff;
        padding: 4px;
        background-color: #ec4b3b;
        font-size: 13px;
        border: 2px solid #fff;
    }
    #help-info .block-info .but-open-modal:hover, #help-info .block-info .but-close-modal:hover {
        color: #ec4b3b;
        background-color: #fff;
    }
.line-red {
    width: 100%;
    height: 5px;
    background-color: #ec4b3b;
}
.line-white {
    width: 100%;
    height: 5px;
    background-color: #fff;
}
.shadow {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
}
.img-character1, .img-character2 {
    width: 180px;
    margin: 0 auto;
}
#portfolio_block {
    background: linear-gradient(to top, rgb(51, 51, 51), rgb(0, 0, 0));
    min-height: 550px;
}
    #portfolio_block h2 {
        padding: 6% 0;
    }
/*------кнопка вверх на главную-------*/
#back-to-top {
    background-color: rgba(236, 75, 59, 0.62);
    border-radius: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#back-to-top:hover {
    background-color: #fff;
    color: #ec4b3b;
}
/*------кнопка вверх на главную-------*/
/*------кнопка узнать больше-------*/
#ta{
    height: 360px;
    transition:all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
}
.read-next, .read-next:focus  {
    color: #ec4b3b;
    background-color: #fff;
    border-radius: 0;
    padding: 7px 5px;
    font-size: 17px;
    border: 2px solid #fff;
}
.read-next:hover {
    color: #fff;
    background-color: #ec4b3b;
}
.but-read-next {
    margin-top: 1%;
}
/*------кнопка узнать больше-------*/
/*------кнопка узнать больше1-------*/
#ta1{
    height: 360px;
    transition:all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
}
.read-next1, .read-next1:focus  {
    color: #fff;
    background-color: #ec4b3b;
    border-radius: 0;
    padding: 7px 5px;
    font-size: 17px;
    border: 2px solid #fff;
}
.read-next1:hover {
    color: #ec4b3b;
    background-color: #fff;
    font-weight: 700;
}
.but-read-next1, .photo > img {
    margin-top: 1%;
}
/*------кнопка узнать больше1-------*/
/*----------модальный блок---------*/
.modal-body p {
    text-indent: 1.5em;
    font-size: 14px;
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.modal-body li {
    font-size: 14px;
}
.modal-content {
    background-color: #333;
}
.but-close-modal, .but-close-modal:hover {
    opacity: 1;
}
.modal.in .modal-dialog {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*----------------portfolio-----------------------*/
#portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover {

}
.scale-anm {
    transform: scale(1);
}
.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.btn-portfolio {
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #e4e4e4;
    background-color: rgb(236, 75, 59);
}
.btn-portfolio:hover {
    text-decoration: none;
}
.btn-portfolio:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*----------------gallery-----------------------*/
#coast .goods {
    color: #e2d4d3;
    font-size: 11px;
    margin-right: 5px;
    background-color: #7a3c36;
    border: 1px solid #fff;
    padding: 1px 4px;
}
#coast .goods:hover {
    opacity: 0.5;
}
@media screen and (max-width: 991px) {
    .block-phone .phone{
        margin-bottom: 12px;
    }
    #menu li {
        margin-right: 0;
    }
    #menu li a {
        padding: 0;
        font-size: 12px;
    }
    .privilege-text {
        padding: 3%;
        background-color: #ec4b3b;
        height: 295px;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    .block-privilege {
        width: 95%;
    }
    #about {
        min-height: 990px;
    }
    #coast .table-responsive {
         padding: 0;
    }
    .character-sm {
        font-size: 13px;
    }
    #ta {
        height: 355px;
    }
    .marg-cont {
        margin-top: 5%;
    }
    #contact .table-responsive {
        font-size: 12px;
    }
    .block-title {
        min-height: 123px;
    }
}
@media screen and (max-width: 767px) {
    #coast .table-responsive,
    #contact .table-responsive {
        border: none;
    }
    #coast .table-responsive tbody {
        font-size: 12px;
    }
    #coast .table-responsive {
        padding: 0;
    }
    #coast .order-phone .applicationSubmit {
        font-size: 11px;
        padding: 6px;
        letter-spacing: 0;
        margin-top: 8px;
    }
    #coast h2, .block-about h2, #portfolio_block h2, #help-info h2 {
        padding-left: 8%;
    }
    .wrapper {
        padding: 0;
    }
    .title h2 {
        font-size: 52px;
    }
    .title p {
        font-size: 20px;
    }
    .block-phone .dload {
        text-align: right;
    }
    .block-slider .main-img {
        min-height: 258px;
    }
    .block-slider-text {
        top: 28%;
        padding: 0;
    }
    .block-slider-text h1 {
        font-size: 7vw;
    }
    #menu.default {
        height: 104px;
        margin-top: -114px;
    }
    .img-character1, .img-character2 {
        margin-top: 50px;
    }
    #service {
        height: 395px;
        padding: 0;
        font-size: 11px;
    }
    #ta {
        height: 354px;
    }
    #partner {
        height: 565px;
    }
    .point-sale h2{
        margin-left: 3%;
    }
    .block-title {
        min-height: 160px;
    }
    .block-phone .phone {
        font-size: 6vw;
        color: #fff;
        margin-bottom: 8px;
        text-align: start;
    }
    .dload a {
        padding: 10px;
        font-size: 11px;
    }
    .block-privilege li {
        font-size: 12px;
    }
    .privilege-text {
        height: 345px;
    }
    .block-about h2 {
        font-size: 22px;
    }
    .block-about .text1, .block-about .text2 {
        font-size: 13px;
        text-align: justify;
    }
    .character1 {
        background: #ec4b3b;
        min-height: 220px;
    }
    .character2 {
        background: #fff;
        min-height: 210px;
    }
    .img-character2 img {
        display: none;
    }
    .pad-correct-character {
         padding-left: 0;
    }
    .img-correct-xs {
        display: none;
    }
    .character-sm {
         font-size: 11px;
    }
}